<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wwtianmei.qingyun.order.mapper.SendLogMapper">
  <resultMap id="BaseResultMap" type="cn.wwtianmei.qingyun.order.entity.SendLog">
    <!--@mbg.generated-->
    <!--@Table send_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="msg_id" jdbcType="VARCHAR" property="msgId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="route_key" jdbcType="VARCHAR" property="routeKey" />
    <result column="exchange" jdbcType="VARCHAR" property="exchange" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="try_time" jdbcType="TIMESTAMP" property="tryTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, msg_id, order_id, `status`, route_key, exchange, `count`, try_time, create_time, 
    update_time
  </sql>
  <update id="updateSendLogStatus">
    update send_log set status =#{status}
    where msg_id = #{msgId,jdbcType=VARCHAR}
  </update>
    <update id="updateSendLogCount">
      upadte send_log set count = count+1 ,update_time = #{date}
      where msg_id =#{msgId,jdbcType=VARCHAR}
    </update>
</mapper>